extends layout

block content
    .container
        a(href='/candidats') &lt; Go Back
        
        h3.text-center Modifica i dettagli di #{candidats.firstname} #{candidats.lastname}: 
        br
        ul.errors
            if errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
            h5 INFORMAZIONI PERSONALI:
        
        form(method='post', action='/candidats/edit/#{candidats._id}',enctype='multipart/form-data')
                .form-row
                    .form-group.col-md-4
                      label Nome:
                      |       
                      input.form-control(type='text', name='firstname', value='#{candidats.firstname}')
                    |     
                    .form-group.col-md-4
                      label Cognome:
                      |       
                      input.form-control(type='text', name='lastname', value='#{candidats.lastname}')
                    |     
                    .form-group.col-md-4
                      label Codice candidato:
                      |       
                      input.form-control(type='text', name='sportelloIndex', value='#{candidats.sportelloIndex}')
                    |  
                .form-row
                    .form-group.col-md-4
                      label Data di nascita:
                      |       
                      input.form-control(type='date', name='bday', value='#{candidats.bday}')
                    |     
                    .form-group.col-md-4
                      label Codice Fiscale:
                      |       
                      input.form-control(type='text', name='idnp', value='#{candidats.idnp}')
                    .form-group.col-md-2
                      label Nazionalita:
                      |       
                      input.form-control(type='text', name='nationality', value='#{candidats.nationality}')
                    |  
                    .form-group.col-md-2
                      label Sesso:
                      |       
                      select.form-control(name='gender', value='#{candidats.gender}')
                        option M
                        option F
                    | 
                .form-row
                    .form-check.form-check-inline.col-md-6
                        - if ( candidats.disability ){
                            input.form-check-input(type='checkbox', name='disability', checked)
                        -} else {
                            input.form-check-input(type='checkbox', name='disability')
                        -}
                            |   
                            label.form-check-label Categorie protette:
                br
                .form-group
                    label Indirizzo:
                    |     
                    input.form-control(type='text', name='address', value='#{candidats.address}')
                    |   
                  |   
                .form-row
                    .form-group.col-md-4
                        label Citta:
                        |       
                        input.form-control(type='text', name='city', value='#{candidats.city}')
                    |     
                    .form-group.col-md-2
                        label Prov.:
                          |       
                        select.form-control(name='region', value='#{candidats.region}')
                            option PD
                            option VE
                            option TV
                            option VI
                            option VR
                            option BL
                            option RO
                            |     
                    .form-group.col-md-2
                        label CAP:
                        |       
                        input.form-control(type='text', name='zip', value='#{candidats.zip}')
                          |   
                .form-row
                    .form-group.col-md-3
                        label Telefono:
                        |     
                        input.form-control(type='text', aria-describedby='telComments', name='tel', value='#{candidats.tel}')
                        |     
                        small#telComments.form-text.text-muted Si possono inserire piu  recapiti telefonici separandoli con ";".
                    .form-check.form-check-inline.col-md-3
                        - if (candidats.isWhatsapp ){
                            input.form-check-input(type='checkbox', name='isWhatsapp', checked)
                        -} else {
                            input.form-check-input(type='checkbox', name='isWhatsapp')
                        -}
                            |   
                            label.form-check-label Whatsapp:
                    .form-group.col-md-3
                        label Email:
                        |     
                        input.form-control(type='email', name='email', value='#{candidats.email}')
                  |   
                h5 ESPERIENZA PROFESSIONALE:
                
                .form-row  
                    .form-check.form-check-inline.col-md-8
                        - if ( candidats.active ){
                            input.form-check-input(type='checkbox', name='active', checked)
                        -} else {
                            input.form-check-input(type='checkbox', name='active')
                        -}
                            |   
                            label.form-check-label Occupato:
                br
                .form-row
                    .form-group.col-md-8
                        label Esperienza lavorativa principale:
                        |       
                        textarea.form-control(type='text', name='mainWorkExperience') #{candidats.mainWorkExperience}
                        |     
                    .form-group.col-md-4
                        label Settore:
                          |       
                        select.form-control(name='expDomain1', value='#{candidats.expDomain1}')
                            option #{candidats.expDomain1}
                            option Agricoltura
                            option Altre professioni
                            option Amministrazione - Acquisti
                            option Commerciale
                            option Contabilità
                            option Creativo - Design
                            option Customer service
                            option Edilizia - Cantieristica
                            option Energie rinnovabili
                            option Engineering - Area tecnica - Progettazione
                            option Finanza
                            option Formazione
                            option Informatica
                            option Installazione - Manutenzione
                            option Legale
                            option Logistica - Trasporto - Magazzino
                            option Marketing - Comunicazione
                            option Moda - Stile
                            option Produzione
                            option Pubblica Amministrazione
                            option Pulizie
                            option Qualità - Sicurezza - Ambiente
                            option Ricerca e sviluppo
                            option Risorse Umane - Personale
                            option Sanità
                            option Segreteria
                            option Servizi alla Persona
                            option Turismo - Ristorazione
                            option Vendita
                            option Vigilanza - Custodia
                        
                .form-row
                    .form-group.col-md-8
                        label Esperienza lavorativa secondaria:
                        |       
                        textarea.form-control(type='text', name='otherWorkExperience') #{candidats.otherWorkExperience}
                        |     
                    .form-group.col-md-4
                        label Settore:
                          |       
                        select.form-control(name='expDomain2', value='#{candidats.expDomain2}')
                            option #{candidats.expDomain2}
                            option Agricoltura
                            option Altre professioni
                            option Amministrazione - Acquisti
                            option Commerciale
                            option Contabilità
                            option Creativo - Design
                            option Customer service
                            option Edilizia - Cantieristica
                            option Energie rinnovabili
                            option Engineering - Area tecnica - Progettazione
                            option Finanza
                            option Formazione
                            option Informatica
                            option Installazione - Manutenzione
                            option Legale
                            option Logistica - Trasporto - Magazzino
                            option Marketing - Comunicazione
                            option Moda - Stile
                            option Produzione
                            option Pubblica Amministrazione
                            option Pulizie
                            option Qualità - Sicurezza - Ambiente
                            option Ricerca e sviluppo
                            option Risorse Umane - Personale
                            option Sanità
                            option Segreteria
                            option Servizi alla Persona
                            option Turismo - Ristorazione
                            option Vendita
                            option Vigilanza - Custodia
                        
                .form-row
                    .form-group.col-md-8
                        label Occupazione ricercata (1):
                        |       
                        textarea.form-control(type='text', name='lookingFor1') #{candidats.lookingFor1}
                        |     
                    .form-group.col-md-4
                        label Settore:
                          |       
                        select.form-control(name='lookDomain1', value='#{candidats.lookDomain1}')
                            option #{candidats.lookDomain1}
                            option Agricoltura
                            option Altre professioni
                            option Amministrazione - Acquisti
                            option Commerciale
                            option Contabilità
                            option Creativo - Design
                            option Customer service
                            option Edilizia - Cantieristica
                            option Energie rinnovabili
                            option Engineering - Area tecnica - Progettazione
                            option Finanza
                            option Formazione
                            option Informatica
                            option Installazione - Manutenzione
                            option Legale
                            option Logistica - Trasporto - Magazzino
                            option Marketing - Comunicazione
                            option Moda - Stile
                            option Produzione
                            option Pubblica Amministrazione
                            option Pulizie
                            option Qualità - Sicurezza - Ambiente
                            option Ricerca e sviluppo
                            option Risorse Umane - Personale
                            option Sanità
                            option Segreteria
                            option Servizi alla Persona
                            option Turismo - Ristorazione
                            option Vendita
                            option Vigilanza - Custodia
                .form-row
                    .form-group.col-md-8
                        label Occupazione ricercata (2):
                        |       
                        textarea.form-control(type='text', name='lookingFor2') #{candidats.lookingFor2}
                        |  
                    .form-group.col-md-4
                        label Settore:
                          |       
                        select.form-control(name='lookDomain2', value='#{candidats.lookDomain2}')
                            option #{candidats.lookDomain2}
                            option Agricoltura
                            option Altre professioni
                            option Amministrazione - Acquisti
                            option Commerciale
                            option Contabilità
                            option Creativo - Design
                            option Customer service
                            option Edilizia - Cantieristica
                            option Energie rinnovabili
                            option Engineering - Area tecnica - Progettazione
                            option Finanza
                            option Formazione
                            option Informatica
                            option Installazione - Manutenzione
                            option Legale
                            option Logistica - Trasporto - Magazzino
                            option Marketing - Comunicazione
                            option Moda - Stile
                            option Produzione
                            option Pubblica Amministrazione
                            option Pulizie
                            option Qualità - Sicurezza - Ambiente
                            option Ricerca e sviluppo
                            option Risorse Umane - Personale
                            option Sanità
                            option Segreteria
                            option Servizi alla Persona
                            option Turismo - Ristorazione
                            option Vendita
                            option Vigilanza - Custodia
                .form-row
                    .form-group.col-md-8
                        label Occupazione ricercata (3):
                        |       
                        textarea.form-control(type='text', name='lookingFor3') #{candidats.lookingFor3}
                        |     
                    .form-group.col-md-4
                        label Settore:
                          |       
                        select.form-control(name='lookDomain3', value='#{candidats.lookDomain3}')
                            option #{candidats.lookDomain3}
                            option Agricoltura
                            option Altre professioni
                            option Amministrazione - Acquisti
                            option Commerciale
                            option Contabilità
                            option Creativo - Design
                            option Customer service
                            option Edilizia - Cantieristica
                            option Energie rinnovabili
                            option Engineering - Area tecnica - Progettazione
                            option Finanza
                            option Formazione
                            option Informatica
                            option Installazione - Manutenzione
                            option Legale
                            option Logistica - Trasporto - Magazzino
                            option Marketing - Comunicazione
                            option Moda - Stile
                            option Produzione
                            option Pubblica Amministrazione
                            option Pulizie
                            option Qualità - Sicurezza - Ambiente
                            option Ricerca e sviluppo
                            option Risorse Umane - Personale
                            option Sanità
                            option Segreteria
                            option Servizi alla Persona
                            option Turismo - Ristorazione
                            option Vendita
                            option Vigilanza - Custodia
                .form-group
                    label Capacità e competenze professionali:
                    |       
                    textarea.form-control(type='text', name='capabilities') #{candidats.capabilities}
                    |     
                .form-group
                    label Capacità e competenze informatiche:
                    |       
                    textarea.form-control(type='text', name='ITcapabilities') #{candidats.ITcapabilities}
                    |     
                h5 ISTRUZIONE E FORMAZIONE:
            
                .form-group
                    label Istruzione e Formazione principale:
                    |       
                    textarea.form-control(type='text', name='mainSchool') #{candidats.mainSchool}
                    |     
                .form-group
                    label Corsi di formazione:
                    |       
                    textarea.form-control(type='text', name='courses') #{candidats.courses}
                    |     
                .form-group
                    label Ulteriori informazioni:
                    |       
                    textarea.form-control(type='text', name='otherInfo') #{candidats.otherInfo}
                    |     
                    
                h5 COMPETENZE PERSONALI:
            
                .form-row
                    .form-group.col-md-4
                        label Madrelingua:
                        |       
                        input.form-control(type='text', name='language1', value='#{candidats.language1}')
                .form-row
                    .form-group.col-md-4
                        label Seconda lingua:
                        |       
                        input.form-control(type='text', name='language2', value='#{candidats.language2}')
                    .form-group.col-md-2
                            label Comprensione:
                              |       
                            select.form-control(name='l2C')
                                option #{candidats.l2C}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Parlato:
                              |       
                            select.form-control(name='l2P')
                                option #{candidats.l2P}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Scritto:
                              |       
                            select.form-control(name='l2S')
                                option #{candidats.l2S}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                .form-row
                    .form-group.col-md-4
                        label Terza lingua:
                        |       
                        input.form-control(type='text', name='language3', value='#{candidats.language3}')
                    .form-group.col-md-2
                            label Comprensione:
                              |       
                            select.form-control(name='l3C')
                                option #{candidats.l3C}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Parlato:
                              |       
                            select.form-control(name='l3P')
                                option #{candidats.l3P}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Scritto:
                              |       
                            select.form-control(name='l3S')
                                option #{candidats.l3S}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                .form-row
                    .form-group.col-md-4
                        label Quarta lingua:
                        |       
                        input.form-control(type='text', name='language4', value='#{candidats.language4}')
                    .form-group.col-md-2
                            label Comprensione:
                              |       
                            select.form-control(name='l4C')
                                option #{candidats.l4C}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Parlato:
                              |       
                            select.form-control(name='l4P')
                                option #{candidats.l4P}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Scritto:
                              |       
                            select.form-control(name='l4S')
                                option #{candidats.l4S}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                .form-row
                    .form-group.col-md-4
                        label Quinta lingua:
                        |       
                        input.form-control(type='text', name='language5', value='#{candidats.language5}')
                    .form-group.col-md-2
                            label Comprensione:
                              |       
                            select.form-control(name='l5C')
                                option #{candidats.l5C}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Parlato:
                              |       
                            select.form-control(name='l5P')
                                option #{candidats.l5P}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                    .form-group.col-md-2
                            label Scritto:
                              |       
                            select.form-control(name='l5S')
                                option #{candidats.l5S}
                                option A1
                                option A2
                                option B1
                                option B2
                                option C1
                                option C2
                                |     
                h5 ULTERIORI INFORMAZIONI:
            
                .form-row
                    .form-group.col-md-8
                        label Problematiche:
                        |       
                        input.form-control(type='text', name='problems', value='#{candidats.problems}')
                    .form-group.col-md-2
                        label Patente:
                        |       
                        input.form-control(type='text', name='license', value='#{candidats.license}')
                .form-row
                    .form-group.col-md-4
                        label CV
                        |     
                        input.form-control-file(type='file', name='cv', value='#{candidats.cv}')
                    .form-check.form-check-inline.col-md-4
                        - if ( candidats.euroCV ){
                            input.form-check-input(type='checkbox', name='euroCV', checked)
                        -} else {
                            input.form-check-input(type='checkbox', name='euroCV')
                        -}
                            |   
                            label.form-check-label Formato Europeo:
                    .form-group.col-md-4
                        label Foto
                        |     
                        input.form-control-file(type='file', name='profileimage', checked='#{candidats.profileimage}')
                .form-row
                    .form-check.form-check-inline.col-md-4
                        - if ( candidats.privacy ){
                            input.form-check-input(type='checkbox', name='privacy', checked)
                        -} else {
                            input.form-check-input(type='checkbox', name='privacy')
                        -}
                            |   
                            label.form-check-label Privacy
                    .form-group.col-md-4
                      label Data colloquio:
                      |       
                      input.form-control(type='date', name='interviewDate', value='#{candidats.interviewDate}')
                    |     
                .form-row
                    .form-group.col-md-12
                    input.btn.btn-primary.col-md-12(name='submit', type='submit', values='Salva')
        br
        br
        br
        